<div class="show-task-background">
  <p id="notice"><%= notice %></p>
  <div class="font-styling font-size: 50px ">
    <p>
      <div class="title-font-styling"><strong>Content</strong></div>
      <br/>
      <div class="font-size: 300"><%= @task.content %></div>
    </p>

    <br/>
    <br/>

    <p>
      <div class="title-font-styling"><strong>State</strong></div>
      <br/>
      <div class="font-size: 300"><%= @task.state %></div>
    </p>
  </div>

  <br/>
  <br/>

  <div style="width: 300px; padding-left: 60px">
    <div style="float: left; width: 100px">
      <%= button_to 'Edit', edit_task_path(@task), class: "btn btn-teacup btn-block", method: 'get' %>
    </div>
    <div style="float: right; width: 100px">
      <%= button_to 'Back', tasks_path, class: "btn btn-teacup btn-block", method: 'get' %>
    </div>
  </div>
</div>
